<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>New Contract</title>

    <style>
        body {
            background-color: #121212;
            color: #dfdfdf;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            /* text-shadow: 10px -1px -1px rgb(214, 214, 214); */
        }

        h2 {
            text-align: center;
            vertical-align: middle;
            margin-top: 5px;
            background: linear-gradient(90deg, rgb(0, 181, 51) 0%, rgb(0, 130, 37) 100%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }

        button {
            padding: 8px;
            position: relative;
            vertical-align: top;
            color: white;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
            background: #00551f;
            /* background: #c0392b; */

            border: 0;
            border-radius: 6px;
            border-bottom: 4px solid #002e08/*#b53224*/;

            box-shadow: inset 0 -2px #002e08/*#b53224*/;
            -webkit-box-shadow: inset 0 -2px #002e08/*#b53224*/;
            -moz-box-shadow: inset 0 -2px #002e08/*#b53224*/;

            transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
        }
        button:active {
            top: 2px;
            -webkit-top: 2px;
            outline: none;
            -webkit-outline: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            border-bottom: 3px solid #002e08;
            -webkit-border-bottom: 3px solid #002e08;
        }
        button:disabled {
            cursor: not-allowed;
            opacity: 60%;
        }

        #whatDoYouWantToCreateDiv {
            margin: auto;
            margin-top: 10%;
            border: 2px #007500 solid;
            border-radius: 10px;
            max-width: 450px;
            height: 300px;
            background-color: #242424;
            box-shadow: black 0px 0px 15px 5px;
            padding-left: 15px;
            text-align: center;
            padding-right: 13px;
        }

        textarea {
            width: 99%;
            height: 34rem;
            background-color: #252525;
            color: white;
            font-family: 'Courier New', Courier, monospace;
            border-radius: 7px;
            padding: 7px;
        }
    </style>
</head>
<body style="display: flex; align-items: center; flex-direction: column;">
    <script>
        const socket = io(`http://${document.domain}:80`);
        socket.emit('new-user', {"name": localStorage.getItem("wogtractUsername")});

        socket.on('custom-transacteditem-completion-status', (completionStatus) => {
            if (completionStatus == true) {
                alert("Custom TransactedItem Code Successfully Uploaded to the Server");
            }
            else {
                alert("Custom TransactedItem Code Failed to Upload to the Server\nClass with the same name already exists");
            }
        });
    </script>

    <div id="whatDoYouWantToCreateDiv">
        <h2>What do you want to create?</h2>
        <hr width='200px' style='margin-top: -20px;'>
        <br>
        <button id="newTransactedItemClassButton">New TransactedItem Class</button>
        <br><br>
        <button id="newContractCreationButton">New Contract</button>
    </div>

    <div id="customTransactedItemsCodeSubmissionDiv" style="width: 100%;" hidden>
        <textarea id="codeTextArea"></textarea>
        <br>
        <button id="codeSubmitButton">SUBMIT</button>
    </div>

    <!-- (TODO): Create the div that allows the user to select what transacted item class they want to use in their contract for each item and they should be able to add an unlimited amount of transacted items to a single contract. -->
    <div id="newContractCreationDiv" style="width: 100%;" hidden>
        <!-- (TODO): Create a form that takes in all the information regarding the contract. -->
        Yoooooooooooooo!
    </div>

    <script>
        $("#newTransactedItemClassButton")[0].onclick = (e) => {
            //(DONE): Show a textarea element where the user can type out the code of a JS class and submit it to the server.
            $("#whatDoYouWantToCreateDiv")[0].hidden = true;
            $("#customTransactedItemsCodeSubmissionDiv")[0].hidden = false;
        };

        $("#newContractCreationButton")[0].onclick = (e) => {
            $("#whatDoYouWantToCreateDiv")[0].hidden = true;
            $("#newContractCreationDiv")[0].hidden = false;
        };

        $("#codeSubmitButton")[0].onclick = (e) => {
            //(DONE) Send a socket.io emission to the server with the data of the code submitted.
            var customTransactedItemsClassName = prompt("What do you want to call your TransactedItem class?");
            if (customTransactedItemsClassName == "") {alert("You cannot enter a blank class name"); return;}
            socket.emit('custom-transacteditem-code', {name: customTransactedItemsClassName, stringCode: document.getElementById("codeTextArea").value});
        };
    </script>
</body>
</html>